################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bluepen.powershell.cmdlets/bin/Debug/net8.0
/bluepen.powershell.cmdlets/obj
/bluepen.powershell.domain/bin/Debug/net8.0
/bluepen.powershell.domain/obj
/bluepen.powershell.cmdlets/bluepen.powershell.cmdlets.csproj.user
/bluepen.powershell.services/bin/Debug/net8.0
/bluepen.powershell.services/obj
